<mat-card class="card-payment-root">
  <form #form="ngForm" class="example-form">

    <mat-radio-group style="margin:auto;">
      <ng-container *ngFor="let bank of banks; let i = index">
        <div class="bankGroup" *ngIf="(i<6)">
          <div class="box">
            <mat-radio-button [value]="bank.bankName">
              <img src="{{bank.bankLogo}}">
            </mat-radio-button>
          </div>
        </div>
      </ng-container>

    </mat-radio-group>

    <mat-form-field style="width:100%;">
      <mat-select ngModel name="bank" placeholder="Select Bank">
        <mat-option *ngFor="let bank of banks; let i = index" [value]="bank.bankName">
          {{ bank.bankName }}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <div class="button">
      <button mat-raised-button color="primary" class="form-input">Submit</button>
    </div>
  </form>
</mat-card>