mat-card{
  width: 30%;
  left: 35%;
  top: 140px;
  position: absolute;
}

.form-input{
    width: 100%;
    margin-top: 12px;
}
.button{
    margin-top: 20px;
}

.mat-checkbox-layout{
    margin-top: 16px;
}

@media only screen and (max-width: 500px)
{
    mat-card{
        width: 100%;
        left: 0%;
        top: 10px;
        position: absolute;
      }
      
}
span{
    font-weight: normal;
}