mat-grid-list{

    width: 50%;
    margin-left: 8%;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%  !important;
} 


.mobileMarginBottom{
    padding-bottom:30px;
}

@media (max-width: 600px)
{
    mat-grid-list{
            width: 90%;
            margin: auto;
        }
}