.root{
    display: flex;
    top: 80px;
    position: relative;
    left: 10%;
   
}

li{
    cursor: pointer;
}
.payment-menu{
    width: 20%;
    padding: 20px;
    
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%  !important;
} 

.payment-options{
    width: 35%;
    left: 30%;
    position: absolute;
    padding: 20px;
  }


@media only screen and (max-width: 500px)
{
    .payment-menu{
        width: 100%;
    }
    
    .payment-options{
        width:100%;
        left: 0%;
    }
    
    .root{
        display: block;
        top: 60px;
        position: relative;
        left: 0%;
        width: 100%;
    }

   
}